<tr class='<%= state_to_class(evaluation.state) %>'>
  <td><%= time_to_string(evaluation.created_at) %></td>
  <td><%= evaluation.model %></td>
  <td class='td-state'><%= state_to_title(evaluation.state) %></td>
</tr>
