<div class='col-lg-12 well'>
  <h3 class='table-title'>評価結果詳細</h3>
  <h4 class='precision-info'>精度: <%= @evaluation.precision.to_s %>%</h4>

  <table class='table table-hover'>
    <thead>
      <th width='30%'>レース名</th>
      <th width='60%'>予測結果</th>
      <th width='10%'>正解</th>
    </thead>
    <tbody>
      <%= render @evaluation.data %>
    </tbody>
  </table>
</div>
