#collapse-form {
  border-color: #cccccc;
}

.nav-link-evaluation {
  color: black;
}

.not-selected {
  display: none !important;
}

#table-evaluation {
  font-size: 14px;
}

.cursor-auto {
  cursor: auto;
}

.cursor-pointer {
  cursor: pointer;
}
