<form id='new-analysis' class='form-inline' action='/alterf/analysis/learn' method='post' data-remote='true'>
  <% %w[ data tree feature ].each do |param| %>
    <span class='input-custom'>
      <label for='num_<%= param %>'><%= param %></label>
      <input class='form-control' type='text' name='num_<%= param %>' required='true' />
    </span>
  <% end %>
  <input class='btn btn-default btn-sm' type='submit' />
</form>
