<form action='/alterf/analysis/learn' method='post'>
  <label for='num_data'>学習データ数</label>
  <input type='text' name='num_data' />
  <label for='num_tree' />決定木の数</label>
  <input type='text' name='num_tree' />
  <label for='num_feature' />特徴量の数</label>
  <input type='text' name='num_feature' />
  <input type='submit' />
</form>
<hr>
