<div class='modal fade' id='dialog-download-error' tabindex='-1' role='dialog' aria-hidden='false'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>
          エラーが発生しました
        </h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        分析結果が存在しません
      </div>
      <div class='modal-footer'>
        <button id='btn-modal-download-error-ok' class='btn btn-primary' data-bs-dismiss='modal'>
          OK
        </button>
      </div>
    </div>
  </div>
</div>
