<div class='modal fade' id='dialog-execute' tabindex='-1' role='dialog' aria-hidden='false'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>
          &times;
        </button>
        <h4 class='modal-title'>
          分析を開始しました
        </h4>
      </div>
      <div class='modal-body'>
        終了後、メールにて結果を通知します
      </div>
      <div class='modal-footer'>
        <button id='btn-modal-execute-ok' class='btn btn-primary'>
          OK
        </button>
      </div>
    </div>
  </div>
</div>
