技術調査
　・http://db.netkeiba.com/から情報を取得する
　・URLにアクセスしてhtmlを取得 -> スクレイピング

構想
　１過去のデータを全て取得する（1988年以降のデータ）
　２過去のは上記ので取得。それからは１日１回アクセスして取得
　３素性抽出
　４DBに保存
　５学習
　６予測

１
　１指定した期間でデータを取得できるようにする
　２DBに保存できるようにする
２
　・１のを使い回す
３
　１素性を抽出できるようにする（まずは単純なもので）
４
　・１で実装済み
５
　１アルゴリズムから考える（いろいろ参考にする）
６
　・５といっしょに実装

必要な物
　・指定した期間でデータを取得するコード
　・素性を抽出するコード
　・DBにデータを保存するコード
　・過去のレース結果から未来のレース結果を予測するコード
　上の３つは１つのコード（モジュール化してもよい）

プログラミング言語
 1, 2: Ruby
 3: C++
 5, 6: 未定（R, C++, Java)
