<% info = {
     total_count: resources.total_count,
     from: resources.total_count.zero? ? 0 : resources.offset_value + 1,
     to: resources.offset_value + resources.size,
   } %>
<h5 class='pagination-info'><%= t('views.pagination.info', info) %></h5>
